
services:
  api:
    build: ./api
    container_name: iris_api
    ports:
      - "8000:8000"
    networks:
      - monitoring_net

  frontend:
    build: ./frontend
    container_name: iris_frontend
    depends_on:
      - api
    ports:
      - "5174:80"
    networks:
      - monitoring_net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    networks:
      - monitoring_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    networks:
      - monitoring_net

networks:
  monitoring_net:
    driver: bridge
